@import 'base';
@import 'components';
@import 'header';
@import 'preview';
@import 'searchResults';
@import 'recipe';
@import 'upload';

h1 {
  transition: 0.4s;

  &:hover {
    text-shadow: 4px 4px gray;
    transition: 0.2s;
  }
}
